.ride__blockquote-author {
    @include font(20px, 500, 160%, left, 1, 0px);
    color: $primaryTextColor;
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    max-width: 470px;
}

.ride__blockquote-author._theme_dark {
    color: $secondaryTextColor;
}

@media screen and (max-width:$laptop) {
    .ride__blockquote-author {
        @include font(18px, 500, 160%, left, 1, 0px);
    }
}

@media screen and (max-width:$tablet) {
    .ride__blockquote-author {
        @include font(16px, 500, 160%, left, 1, 0px);
    }
}

@media screen and (max-width:$mobileL) {
    .ride__blockquote-author {
        @include font(14px, 500, 157%, left, 1, 0px);
        grid-column: 1;
        grid-row: 3/3;
    }
}