.article__main-img {
    max-width: 610px;
    width: $maxWidth;
    height: 836px;
    align-self: flex-start;
    justify-self: flex-end;
}

@media screen and (max-width:$desktopSmall) {
    .article__main-img {
        height: 750px;
    }
}

@media screen and (max-width:$laptop) {
    .article__main-img {
        height: 600px;
    }
}

@media screen and (max-width:$tablet) {
    .article__main-img {
        height: 550px;
    }
}

@media screen and (max-width:$mobileL) {
    .article__main-img {
        height: 350px;
        max-width: 280px;
    }
}