.footer__checkbox_place_header {
    position: relative;
    width: 44px;
    height: 24px;
    -webkit-appearance: none;
    outline: none;
    background-color: #FFF;
    border-radius: 20px;
    transition: .5s;
    margin-right: $marginSmall;
}

.footer__checkbox_place_header:checked {
    background-color: #545454;
}

.footer__checkbox_place_header::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 8%;
    left: 0;
    background-color: #24B47E;
    transition: .5s;
    transform: scale(1.1);
}

.footer__checkbox_place_header:checked::before {
    left: 24px;
}