.bicycles__figure {
    margin: 0;
}

@media screen and (max-width:$mobileL) {
    .bicycles__figure {
        visibility: hidden;
        opacity: 0;
        grid-column: 1;
        grid-row: 1;
    }
    .bicycles__figure_active {
        visibility: visible;
        opacity: 1;
    }
}