.ride__img {
    width: 650px;
    max-width: 650px;
    grid-column: 1;
    grid-row: 1/-1;
}

@media screen and (max-width:$desktopSmall) {
    .ride__img {
        width: 600px;
    }
}

@media screen and (max-width:$laptop) {
    .ride__img {
        width: 500px;
    }
}

@media screen and (max-width:$tablet) {
    .ride__img {
        width: 370px;
    }
}

@media screen and (max-width:$mobileL) {
    .ride__img {
        width: 284px;
        grid-column: 1;
        grid-row: 1/1;
    }
}