$primaryTextColor: #151515;
$secondaryTextColor: #FFF;
$primaryBackColor: #F4F4F4;
$secondaryBackColor: #333;
$fontFamily: Inter,
Arial,
sans-serif;
$desktop: 1440px;
$desktopSmall: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;
$maxWidth: 100%;
$marginSmall: 20px;
$marginMedium: 60px;
$marginLarge: 120px;
$marginLargeProc: 9.4%;
$descWidth: 460px;
$margin: 0 auto;