@import url(../vendor/normalize.css);
@font-face {
  src: url("../vendor/fonts/inter-v3-latin-regular.woff") format("woff"), url("../vendor/fonts/inter-v3-latin-regular.woff2") format("woff2");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  src: url("../vendor/fonts/inter-v3-latin-500.woff") format("woff"), url("../vendor/fonts/inter-v3-latin-500.woff2") format("woff2");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  src: url("../vendor/fonts/inter-v3-latin-600.woff") format("woff"), url("../vendor/fonts/inter-v3-latin-600.woff2") format("woff2");
  font-family: "Inter";
  font-weight: 600;
}
@font-face {
  src: url("../vendor/fonts/inter-v3-latin-700.woff") format("woff"), url("../vendor/fonts/inter-v3-latin-700.woff2") format("woff2");
  font-family: "Inter";
  font-weight: 700;
}
.page {
  font-family: Inter, Arial, sans-serif;
  background-color: #F4F4F4;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page._theme_dark {
  background-color: #333;
}

.header {
  width: 100%;
  background-color: #f4f4f4;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
}

.header._theme_dark {
  background-color: #333;
}

.main {
  position: relative;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 28px 9.4% 28px 0;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__links._theme_dark {
  background-color: #333;
}

@media screen and (max-width: 425px) {
  .header__links {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: 1px;
    background-color: #F4F4F4;
  }
}
@media screen and (max-width: 425px) {
  .header__links._active {
    height: 100vh;
    visibility: visible;
    opacity: 1;
    padding: 100px 0 0 0;
  }
}
.header__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  opacity: 1;
  letter-spacing: 1px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin-right: 2.6%;
  display: block;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link:hover {
  opacity: 0.75;
}

.header__link._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    opacity: 1;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin-right: 2%;
  }
}
@media screen and (max-width: 425px) {
  .header__link {
    margin: 0 0 30px 0;
  }
}
.header__burger-menu {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 425px) {
  .header__burger-menu {
    background-image: url("../images/burger-open.svg");
    background-position: center;
    background-repeat: no-repeat;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    height: 22px;
    width: 22px;
    top: 22px;
    right: 18px;
    visibility: visible;
    opacity: 1;
  }
}
.header__burger-menu._theme_dark {
  filter: invert(100%);
}

@media screen and (max-width: 425px) {
  .header__burger-menu._active {
    background-image: url("../images/burger-close.svg");
    background-position: center;
    background-repeat: no-repeat;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.article {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 36% 1fr;
  grid-template-rows: repeat(3, -webkit-min-content) 1fr;
  grid-template-rows: repeat(3, min-content) 1fr;
  gap: 50px 17.3%;
  margin: 0 auto 120px;
  padding: 80px 0 0 9.4%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .article {
    display: grid;
    grid-template-columns: 36% 1fr;
    grid-template-rows: repeat(3, -webkit-min-content) 1fr;
    grid-template-rows: repeat(3, min-content) 1fr;
    gap: 30px 15.3%;
    margin: 0 auto 110px;
  }
}
@media screen and (max-width: 768px) {
  .article {
    display: grid;
    grid-template-columns: 36% 1fr;
    grid-template-rows: repeat(3, -webkit-min-content) 1fr;
    grid-template-rows: repeat(3, min-content) 1fr;
    gap: 25px 12.3%;
    margin: 0 auto 100px;
    padding: 80px 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, -webkit-min-content);
    grid-template-rows: repeat(4, min-content);
    gap: 40px 0px;
    margin: 0 auto 80px;
    padding: 60px 0 0 0;
    max-width: 284px;
  }
}
.article__heading {
  font-size: 55px;
  font-weight: 700;
  line-height: 109%;
  text-align: left;
  opacity: 1;
  letter-spacing: -0.5px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin: 80px 0 0;
  grid-column: 1;
  grid-row: 1;
  max-width: 460px;
}

.article__heading._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .article__heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
    margin: 60px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .article__heading {
    font-size: 42px;
    font-weight: 700;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
    margin: 50px 0 0;
  }
}
@media screen and (max-width: 425px) {
  .article__heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
    margin: 40px 0 0;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
  }
}
.article__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 156%;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 1px;
  font-family: Inter, Arial, sans-serif;
  color: #222;
  grid-column: 1;
  grid-row: 2;
  max-width: 460px;
}

.article__description._theme_dark {
  color: #E5E5E5;
}

@media screen and (max-width: 1024px) {
  .article__description {
    font-size: 16px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .article__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .article__description {
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
  }
}
.article__images {
  position: relative;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 2;
}

@media screen and (max-width: 425px) {
  .article__images {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
  }
}
.article__main-img {
  max-width: 610px;
  width: 100%;
  height: 836px;
  align-self: flex-start;
  justify-self: flex-end;
}

@media screen and (max-width: 1280px) {
  .article__main-img {
    height: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .article__main-img {
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .article__main-img {
    height: 550px;
  }
}
@media screen and (max-width: 425px) {
  .article__main-img {
    height: 350px;
    max-width: 280px;
  }
}
.article__button {
  grid-column: 1;
  grid-row: 3;
  background-color: #24B47E;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 3% 0;
  width: 180px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 129%;
  text-align: center;
  opacity: 1;
  letter-spacing: 1px;
  font-family: Inter, Arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  box-sizing: border-box;
  transition: box-shadow ease 1s;
}

.article__button:hover {
  box-shadow: inset 180px 0 0 0 #319E75;
}

@media screen and (max-width: 1024px) {
  .article__button {
    background-color: #24B47E;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 4% 0;
    width: 160px;
    height: 45px;
  }
}
@media screen and (max-width: 768px) {
  .article__button {
    background-color: #24B47E;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 4% 0;
    width: 140px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    line-height: 146%;
    text-align: center;
    opacity: 1;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .article__button {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    background-color: #24B47E;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 4% 0;
    width: 284px;
    height: 46px;
  }
}
.article__cannondale-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 120px 0 0 0;
  height: 20px;
}

@media screen and (max-width: 1280px) {
  .article__cannondale-container {
    margin: 90px 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .article__cannondale-container {
    margin: 70px 0 0 0;
  }
}
@media screen and (max-width: 425px) {
  .article__cannondale-container {
    display: none;
  }
}
.article__cannondale {
  grid-column-start: 1;
  grid-row-start: 4;
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin: 0 30px 0 0;
  max-width: 460px;
}

.article__cannondale._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .article__cannondale {
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 25px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .article__cannondale {
    font-size: 13px;
    font-weight: normal;
    line-height: 100%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 425px) {
  .article__cannondale {
    visibility: hidden;
  }
}
.article__line {
  margin: 0;
  background-color: #D7D4D4;
  height: 2px;
  width: 120px;
  border: none;
}

.article__line._theme_dark {
  background-color: #707070;
}

@media screen and (max-width: 768px) {
  .article__line {
    width: 100px;
  }
}
@media screen and (max-width: 425px) {
  .article__line {
    visibility: hidden;
  }
}
.article__sticky-area {
  position: absolute;
  top: 40%;
  height: 500px;
  left: -30%;
}

@media screen and (max-width: 1280px) {
  .article__sticky-area {
    height: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .article__sticky-area {
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .article__sticky-area {
    height: 330px;
  }
}
@media screen and (max-width: 425px) {
  .article__sticky-area {
    left: -5%;
    top: 30%;
    height: 250px;
  }
}
.article__sticky-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  padding: 20px 60px;
  max-width: 460px;
  max-height: 240px;
  margin: 0;
  display: inline-flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #F4F4F4;
}

@media screen and (max-width: 1280px) {
  .article__sticky-img {
    width: 300px;
    height: 215px;
    padding: 20px 50px;
  }
}
@media screen and (max-width: 1024px) {
  .article__sticky-img {
    width: 260px;
    height: 190px;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 768px) {
  .article__sticky-img {
    width: 220px;
    height: 160px;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 425px) {
  .article__sticky-img {
    width: 200px;
    height: 150px;
    padding: 10px 20px;
  }
}
.ride {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 390px 8% 5%;
  gap: 0 5.6%;
  margin: 0 auto 120px;
  padding: 0 0 0 9.4%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .ride {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 300px 8% 5%;
    gap: 0 4.6%;
    margin: 0 auto 110px;
  }
}
@media screen and (max-width: 768px) {
  .ride {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 220px 8% 5%;
    gap: 0 4.6%;
    margin: 0 auto 100px;
    padding: 0 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .ride {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 40px 0px;
    margin: 0 auto 60px;
    padding: 20px 0 0 0;
    max-width: 284px;
    border-top: 1px solid #E3E3E3;
  }
}
.ride__img {
  width: 650px;
  max-width: 650px;
  grid-column: 1;
  grid-row: 1/-1;
}

@media screen and (max-width: 1280px) {
  .ride__img {
    width: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .ride__img {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .ride__img {
    width: 370px;
  }
}
@media screen and (max-width: 425px) {
  .ride__img {
    width: 284px;
    grid-column: 1;
    grid-row: 1/1;
  }
}
.ride__blockquote {
  font-size: 34px;
  font-weight: 600;
  line-height: 129%;
  text-align: left;
  opacity: 1;
  letter-spacing: -0.5px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  max-width: 470px;
}

.ride__blockquote._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .ride__blockquote {
    font-size: 28px;
    font-weight: 600;
    line-height: 129%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .ride__blockquote {
    font-size: 24px;
    font-weight: 600;
    line-height: 129%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .ride__blockquote {
    font-size: 23px;
    font-weight: 600;
    line-height: 126%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
    grid-column: 1;
    grid-row: 2/2;
  }
}
.ride__blockquote-author {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  max-width: 470px;
}

.ride__blockquote-author._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .ride__blockquote-author {
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .ride__blockquote-author {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .ride__blockquote-author {
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    grid-column: 1;
    grid-row: 3/3;
  }
}
.ride__blockquote-author-subline {
  font-size: 16px;
  font-weight: normal;
  line-height: 175%;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #222;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  max-width: 470px;
}

.ride__blockquote-author-subline._theme_dark {
  color: #E5E5E5;
}

@media screen and (max-width: 768px) {
  .ride__blockquote-author-subline {
    font-size: 14px;
    font-weight: normal;
    line-height: 175%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .ride__blockquote-author-subline {
    font-size: 10px;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    grid-column: 1;
    grid-row: 3/3;
    padding: 20px 0 0 0;
  }
}
.surface-types {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 120px;
  padding: 0 0 0 9.4%;
  box-sizing: border-box;
  display: grid;
}

@media screen and (max-width: 768px) {
  .surface-types {
    margin: 0 auto 100px;
    padding: 0 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .surface-types {
    max-width: 284px;
    margin: 0 auto 120px;
    border-top: 1px solid #E3E3E3;
    padding: 20px 0 0 0;
  }
}
.surface-types__slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 170px 400px 50px;
  gap: 50px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 1024px) {
  .surface-types__slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 140px 350px 45px;
    gap: 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .surface-types__slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 120px 270px 45px;
    gap: 30px 0;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 40px 0;
  }
}
.surface-types__heading {
  font-size: 55px;
  font-weight: bold;
  line-height: 109%;
  text-align: left;
  opacity: 1;
  letter-spacing: -0.5px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  max-width: 460px;
}

.surface-types__heading._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .surface-types__heading {
    font-size: 48px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .surface-types__heading {
    font-size: 42px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__heading {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
.surface-types__description {
  font-size: 18px;
  font-weight: normal;
  line-height: 156%;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 1px;
  font-family: Inter, Arial, sans-serif;
  color: #222;
  max-width: 460px;
  margin: 0 0 30px;
  grid-column: 1;
  grid-row: 2;
}

.surface-types__description._theme_dark {
  color: #E5E5E5;
}

@media screen and (max-width: 1024px) {
  .surface-types__description {
    font-size: 16px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 0 25px;
  }
}
@media screen and (max-width: 1024px) {
  .surface-types__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__description {
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 20px;
  }
}
.surface-types__img-container {
  margin: 0;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

@media screen and (max-width: 425px) {
  .surface-types__img-container {
    grid-column: 1;
    grid-row: 2;
  }
}
.surface-types__img {
  width: 100%;
  max-width: 650px;
  height: 100%;
  margin-right: 40px;
}

.surface-types__img:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1280px) {
  .surface-types__img {
    max-width: 550px;
  }
}
@media screen and (max-width: 1024px) {
  .surface-types__img {
    max-width: 450px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .surface-types__img {
    max-width: 350px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__img {
    max-width: 284px;
    margin-right: 0;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__img:last-of-type {
    display: none;
  }
}
.surface-types__buttons {
  grid-column: 1;
  grid-row: 4;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .surface-types__buttons {
    grid-column: 1;
    grid-row: 1;
    padding-left: 70%;
    margin-top: 10px;
  }
}
.surface-types__prev-button {
  background-color: #EBEBEB;
  border: none;
  border-radius: 50px;
  margin: 0 20px 0 0;
  padding: 1%;
  width: 50px;
  height: 50px;
  background-image: url("../images/surface-types__arrow-left.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.surface-types__prev-button._theme_dark {
  background-color: #434343;
  border: none;
  border-radius: 50px;
  margin: 0 20px 0 0;
  padding: 1%;
  width: 50px;
  height: 50px;
  background-image: url("../images/surface-types__arrow-left_theme_dark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .surface-types__prev-button {
    background-color: #EBEBEB;
    border: none;
    border-radius: 50px;
    margin: 0 20px 0 0;
    padding: 1%;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .surface-types__prev-button._theme_dark {
    background-color: #434343;
    border: none;
    border-radius: 50px;
    margin: 0 20px 0 0;
    padding: 1%;
    width: 40px;
    height: 40px;
    background-image: url("../images/surface-types__arrow-left_theme_dark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__prev-button {
    background-color: #EBEBEB;
    border: none;
    border-radius: 50px;
    margin: 0 20px 0 0;
    padding: 1%;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__prev-button._theme_dark {
    background-color: #434343;
    border: none;
    border-radius: 50px;
    margin: 0 20px 0 0;
    padding: 1%;
    width: 24px;
    height: 24px;
    background-image: url("../images/surface-types__arrow-left_theme_dark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.surface-types__prev-button:hover {
  opacity: 0.6;
}

.surface-types__next-button {
  background-color: #EBEBEB;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 1%;
  width: 50px;
  height: 50px;
  background-image: url("../images/surface-types__arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.surface-types__next-button._theme_dark {
  background-color: #434343;
  border: none;
  border-radius: 50px;
  margin: 0;
  padding: 1%;
  width: 50px;
  height: 50px;
  background-image: url("../images/surface-types__arrow-right_theme_dark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .surface-types__next-button {
    background-color: #EBEBEB;
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 1%;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .surface-types__next-button._theme_dark {
    background-color: #434343;
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 1%;
    width: 40px;
    height: 40px;
    background-image: url("../images/surface-types__arrow-right_theme_dark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__next-button {
    background-color: #EBEBEB;
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 1%;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 425px) {
  .surface-types__next-button._theme_dark {
    background-color: #434343;
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 1%;
    width: 24px;
    height: 24px;
    background-image: url("../images/surface-types__arrow-right_theme_dark.svg");
    background-position: center center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.surface-types__next-button:hover {
  opacity: 0.6;
}

.surface-types__slider_active {
  visibility: visible;
  opacity: 1;
}

.bicycles {
  max-width: 1440px;
  margin: 0 auto 210px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 90%;
  gap: 140px 0;
  padding: 0 0 0 9.4%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .bicycles {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 90%;
    gap: 100px 0;
    margin: 0 auto 180px;
  }
}
@media screen and (max-width: 768px) {
  .bicycles {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 90%;
    gap: 100px 0;
    margin: 0 auto 150px;
    padding: 0 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .bicycles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 5% 83% 5%;
    gap: 40px 0;
    margin: 0 auto 100px;
    padding: 20px 0 0 0;
    max-width: 284px;
    border-top: 1px solid #E3E3E3;
  }
}
.bicycles__heading {
  grid-column: 1;
  grid-row: 1;
  font-size: 55px;
  font-weight: bold;
  line-height: 109%;
  text-align: left;
  opacity: 1;
  letter-spacing: -0.5px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin: 0;
  max-width: 460px;
}

.bicycles__heading._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .bicycles__heading {
    font-size: 48px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .bicycles__heading {
    font-size: 42px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .bicycles__heading {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
.bicycles__switch-buttons {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 425px) {
  .bicycles__switch-buttons {
    display: none;
  }
}
.bicycles__switch-button {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 28px;
  font-size: 18px;
  font-weight: normal;
  line-height: 156%;
  text-align: center;
  opacity: 0.7;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin-right: 40px;
  transition: opacity 0.5s ease;
}

.bicycles__switch-button:hover {
  font-size: 18px;
  font-weight: normal;
  line-height: 156%;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
}

.bicycles__switch-button:last-of-type {
  margin-right: 0;
  width: 24px;
}

.bicycles__switch-button._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .bicycles__switch-button {
    margin-right: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 156%;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }

  .bicycles__switch-button:hover {
    font-size: 16px;
    font-weight: normal;
    line-height: 156%;
    text-align: center;
    opacity: 0.6;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .bicycles__switch-button {
    margin-right: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 156%;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }

  .bicycles__switch-button:hover {
    font-size: 14px;
    font-weight: normal;
    line-height: 156%;
    text-align: center;
    opacity: 0.6;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
.bicycles__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 30px;
  grid-column: 1/2;
  grid-row: 2;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .bicycles__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .bicycles__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 15px;
  }
}
@media screen and (max-width: 425px) {
  .bicycles__gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 3;
    overflow: hidden;
  }
}
.bicycles__gallery_active {
  visibility: visible;
  opacity: 1;
}

.bicycles__gallery-item {
  max-width: 340px;
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 220px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.bicycles__gallery-item:nth-of-type(1n) {
  grid-column: 1;
}

.bicycles__gallery-item:nth-of-type(2n) {
  grid-column: 2;
}

.bicycles__gallery-item:nth-of-type(3n) {
  grid-column: 3;
}

@media screen and (max-width: 1320px) {
  .bicycles__gallery-item {
    max-width: 310px;
  }
}
@media screen and (max-width: 1174px) {
  .bicycles__gallery-item {
    max-width: 240px;
  }
}
@media screen and (max-width: 918px) {
  .bicycles__gallery-item {
    max-width: 180px;
  }
}
@media screen and (max-width: 425px) {
  .bicycles__gallery-item:nth-of-type(1n) {
    grid-column: 1;
    grid-row: 1;
  }

  .bicycles__gallery-item:nth-of-type(2n) {
    grid-column: 1;
    grid-row: 1;
  }

  .bicycles__gallery-item:nth-of-type(3n) {
    grid-column: 1;
    grid-row: 1;
  }

  .bicycles__gallery-item {
    margin-bottom: 0;
    max-width: 254px;
  }
}
.bicycles__figcaption {
  font-size: 18px;
  font-weight: 600;
  line-height: 122%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
}

.bicycles__figcaption._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .bicycles__figcaption {
    font-size: 16px;
    font-weight: 600;
    line-height: 122%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .bicycles__figcaption {
    font-size: 14px;
    font-weight: 600;
    line-height: 122%;
    text-align: center;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
.bicycles__figure {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .bicycles__figure {
    visibility: hidden;
    opacity: 0;
    grid-column: 1;
    grid-row: 1;
  }

  .bicycles__figure_active {
    visibility: visible;
    opacity: 1;
  }
}
.bicycles__select {
  width: 114px;
  height: 30px;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 127%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
}

@media screen and (max-width: 425px) {
  .bicycles__select {
    visibility: visible;
    opacity: 1;
    grid-column: 1;
    grid-row: 2;
  }
}
.bicycles__select._theme_dark {
  background-color: #333;
  border: 1px solid #333;
  color: #FFF;
}

.bicycles__switch-button_active {
  font-size: 18px;
  font-weight: 600;
  line-height: 156%;
  text-align: center;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
}

.bicycles__switch-button_active:hover {
  font-size: 18px;
  font-weight: 600;
  line-height: 156%;
  text-align: center;
  opacity: 0.75;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .bicycles__switch-button_active {
    font-size: 16px;
    font-weight: 600;
    line-height: 156%;
    text-align: center;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }

  .bicycles__switch-button_active:hover {
    font-size: 16px;
    font-weight: 600;
    line-height: 156%;
    text-align: center;
    opacity: 0.75;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .bicycles__switch-button_active {
    font-size: 14px;
    font-weight: 600;
    line-height: 156%;
    text-align: center;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }

  .bicycles__switch-button_active:hover {
    font-size: 14px;
    font-weight: 600;
    line-height: 156%;
    text-align: center;
    opacity: 0.75;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
  }
}
.bicycles__figure {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .bicycles__figure {
    visibility: hidden;
    opacity: 0;
    grid-column: 1;
    grid-row: 1;
  }

  .bicycles__figure_active {
    visibility: visible;
    opacity: 1;
  }
}
.bicycles__pagination {
  display: none;
}

@media screen and (max-width: 425px) {
  .bicycles__pagination {
    display: grid;
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: 1fr;
    gap: 0 10px;
    margin: -120px auto 0;
    width: 50%;
    grid-row: 4;
    justify-content: center;
    z-index: 99;
  }
}
.bicycles__dot {
  background-color: #CACACA;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  padding: 4px 4px;
  border: none;
}

.bicycles__dot_active {
  background-color: #151515;
}

.training {
  margin: 0 auto 120px;
  display: grid;
  grid-template-columns: 36% 1fr;
  grid-template-rows: 60px 270px 30px;
  gap: 50px 11%;
  padding: 0 0 0 9.4%;
  box-sizing: border-box;
  max-width: 1440px;
}

@media screen and (max-width: 1024px) {
  .training {
    display: grid;
    grid-template-columns: 36% 1fr;
    grid-template-rows: 50px 230px 25px;
    gap: 40px 8%;
    margin: 0 auto 110px;
  }
}
@media screen and (max-width: 768px) {
  .training {
    display: grid;
    grid-template-columns: 36% 1fr;
    grid-template-rows: 50px 190px 25px;
    gap: 22px 6%;
    margin: 0 auto 90px;
    padding: 0 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .training {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 225px 90px 20px;
    gap: 40px 0px;
    margin: 0 auto 90px;
    max-width: 284px;
    border-top: 1px solid #E3E3E3;
    padding: 20px 0 0 0;
  }
}
.training__heading {
  font-size: 55px;
  font-weight: bold;
  line-height: 109%;
  text-align: left;
  opacity: 1;
  letter-spacing: -0.5px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  max-width: 460px;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.training__heading._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .training__heading {
    font-size: 48px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .training__heading {
    font-size: 42px;
    font-weight: bold;
    line-height: 109%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .training__heading {
    font-size: 32px;
    font-weight: bold;
    line-height: 125%;
    text-align: left;
    opacity: 1;
    letter-spacing: -0.5px;
    font-family: Inter, Arial, sans-serif;
  }
}
.training__description {
  font-size: 18px;
  font-weight: normal;
  line-height: 156%;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 1px;
  font-family: Inter, Arial, sans-serif;
  color: #222;
  max-width: 460px;
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 130px;
}

.training__description._theme_dark {
  color: #E5E5E5;
}

@media screen and (max-width: 1024px) {
  .training__description {
    font-size: 16px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 0 120px;
  }
}
@media screen and (max-width: 768px) {
  .training__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 156%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 0 40px;
  }
}
@media screen and (max-width: 425px) {
  .training__description {
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
    text-align: left;
    opacity: 0.7;
    letter-spacing: 1px;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    grid-row: 3;
  }
}
.training__img {
  max-width: 580px;
  grid-column: 2;
  grid-row: 1/-1;
}

@media screen and (max-width: 1280px) {
  .training__img {
    max-width: 530px;
  }
}
@media screen and (max-width: 1104px) {
  .training__img {
    max-width: 480px;
  }
}
@media screen and (max-width: 848px) {
  .training__img {
    max-width: 390px;
  }
}
@media screen and (max-width: 425px) {
  .training__img {
    max-width: 284px;
    grid-column: 1;
    grid-row: 2;
  }
}
.training__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 156%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  text-decoration: none;
  margin-right: 30px;
}

.training__link._theme_dark {
  color: #FFF;
}

.training__link:hover {
  opacity: 0.75;
}

@media screen and (max-width: 768px) {
  .training__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 156%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    margin-right: 30px;
  }
}
@media screen and (max-width: 425px) {
  .training__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 143%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    margin-right: 30px;
  }
}
.training__links {
  grid-column: 1;
  grid-row: 3;
}

@media screen and (max-width: 425px) {
  .training__links {
    grid-row: 4;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 0 9.4%;
  box-sizing: border-box;
  background-color: #EFEFEF;
  width: 100%;
}

.footer._theme_dark {
  background-color: #2F2F2F;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 0 0 6.4%;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    padding: 0;
  }
}
.footer__subscribe {
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  margin: 0 0 50px;
  max-width: 230px;
  padding: 80px 0 0 0;
}

.footer__subscribe._theme_dark {
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .footer__subscribe {
    font-size: 22px;
    font-weight: 600;
    line-height: 133%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    margin: 0 0 40px;
    padding: 70px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__subscribe {
    font-size: 20px;
    font-weight: 600;
    line-height: 133%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    padding: 60px 0 0 0;
  }
}
@media screen and (max-width: 425px) {
  .footer__subscribe {
    font-size: 24px;
    font-weight: 600;
    line-height: 133%;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    font-family: Inter, Arial, sans-serif;
    padding: 60px 0 0 0;
    max-width: 284px;
    margin: 0 auto 40px;
  }
}
.footer__form {
  position: relative;
  max-width: 360px;
  margin: 0 0 100px;
}

@media screen and (max-width: 768px) {
  .footer__form {
    margin: 0 0 90px;
  }
}
@media screen and (max-width: 425px) {
  .footer__form {
    margin: 0 0 90px;
    max-width: 284px;
    margin: 0 auto 60px;
  }
}
.footer__field {
  border: 1px solid rgba(199, 199, 199, 0.5);
  background-color: #F4F4F4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 360px;
  height: 50px;
  font-size: 13px;
  font-weight: 500;
  line-height: 215%;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
  padding: 11px 0 11px 20px;
  outline: none;
}

.footer__field:-webkit-autofill {
  -webkit-transition: all 5000s ease-in-out;
  transition: all 5000s ease-in-out;
}

.footer__field._theme_dark {
  color: #FFF;
  border: 1px solid rgba(125, 125, 125, 0.5);
  background-color: #333;
}

.footer__field._theme_dark:-webkit-autofill {
  -webkit-transition: all 5000s ease-in-out;
  transition: all 5000s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .footer__field {
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .footer__field {
    width: 300px;
  }
}
@media screen and (max-width: 425px) {
  .footer__field {
    width: 284px;
  }
}
.footer__checkbox {
  position: relative;
  width: 44px;
  height: 24px;
  -webkit-appearance: none;
  outline: none;
  background-color: #FFF;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.footer__checkbox:checked {
  background-color: #545454;
}

.footer__checkbox::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 8%;
  left: 0;
  background-color: #24B47E;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.footer__checkbox:checked::before {
  left: 24px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #CFCFCF;
  margin: 0;
}

.footer__copyright._theme_dark {
  color: #565656;
}

.footer__theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 9.4%;
}

@media screen and (max-width: 425px) {
  .footer__theme-switcher {
    display: none;
  }
}
.footer__img {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}

.footer__img:last-of-type {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.footer__flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 0 0 60px;
}

@media screen and (max-width: 425px) {
  .footer__flex-container {
    padding: 0 0 20px;
    max-width: 284px;
    margin: 0 auto;
  }
}
.footer__submit-button {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #F4F4F4;
  border: none;
  border-radius: 0;
  margin: 0 4%;
  padding: 1%;
  width: 26px;
  height: 30px;
  font-size: 13px;
  font-weight: normal;
  line-height: 215%;
  text-align: center;
  opacity: 1;
  letter-spacing: 0px;
  font-family: Inter, Arial, sans-serif;
  color: #151515;
}

.footer__submit-button._theme_dark {
  background-color: #333;
  border: none;
  border-radius: 0;
  margin: 0 4%;
  padding: 1%;
  width: 26px;
  height: 30px;
  color: #FFF;
}

.footer__star {
  display: none;
}

@media screen and (max-width: 425px) {
  .footer__star {
    width: 38px;
    height: 38px;
    display: block;
  }
}
.footer__checkbox_place_header {
  position: relative;
  width: 44px;
  height: 24px;
  -webkit-appearance: none;
  outline: none;
  background-color: #FFF;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.footer__checkbox_place_header:checked {
  background-color: #545454;
}

.footer__checkbox_place_header::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 8%;
  left: 0;
  background-color: #24B47E;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.footer__checkbox_place_header:checked::before {
  left: 24px;
}

.footer__theme-switcher_place_header {
  display: none;
}

@media screen and (max-width: 425px) {
  .footer__theme-switcher_place_header._active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 120px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */